body{
    margin: 0;
    padding: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M304.7207713209628 322.1637965541983L465.87176874706716 250.5986961864244 342.77207050212013 157.83642000751286z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M167.34 256.28 a178.91 178.91 0 1 0 357.82 0 a178.91 178.91 0 1 0 -357.82 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M504.4195135974943 240.95465276793976L441.2501710627424 313.4829523203932 523.4899133062571 330.9635491643036z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M480.881%2c154.662C500.794%2c154.181%2c518.327%2c143.916%2c529.547%2c127.457C542.707%2c108.152%2c554.274%2c83.958%2c543.048%2c63.468C531.556%2c42.493%2c504.778%2c37.643%2c480.881%2c38.631C458.938%2c39.538%2c438.038%2c49.265%2c427.023%2c68.265C415.976%2c87.321%2c416.314%2c111.219%2c427.966%2c129.911C439.007%2c147.622%2c460.016%2c155.166%2c480.881%2c154.662' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M849.9017273946228 271.07351620088565L728.1829052102385 197.93746935587097 655.0468583652239 319.6562915402552 776.7656805496081 392.7923383852699z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M739.8980750937419 392.68388582920556L648.9240630536468 445.20775616981473 701.447933394256 536.1817682099098 792.4219454343511 483.65789786930065z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

}

#container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top: 190px;
}
h1{
    color: white;
    text-shadow: 5px 5px 3px black;
    font-weight: bolder;
    font-size:50px;
}
textarea{
    height: 200px;
    width:500px;
    margin: 30px;
    border-style: none;
    outline: none;
    box-shadow: 7px 7px 5px black;
}
button{
    padding: 10px;
    color: white;
    background-color: black;
    border-style: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: larger;
}
button:hover{

    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);

}